/
  Bootstrap 3 Footer
  \==================================================
.featurette-divider
.container
  %footer.padding-top-100
    %p.pull-right
      %a{href: "#"} Back to top
    %p 
      &copy; 2015 Graduate Christian Fellowship Malaysia 
      &middot;
      %a{href: "https://www.facebook.com/gcf.malaysia"} Facebook
      &middot;
      %a{href: "mailto:ibridge.email@gmail.com"} Email

/ /.footer