---
title: EAGC
position: 1
published: true
---
{% extends parent %}

{% block carousel/header %}
%p East Asia Graduate Conference
{% endblock %}

{% block main/header %}
%h2.featurette-heading.padding-bottom-50
  East Asia
  %span.text-muted Graduate Conference
{% endblock %}

{% block main/content %}
:markdown
  {% editable_text "content", rows: 20 %}
  IFES East Asia and GCF Malaysia held their tri-annual conference for graduates/alumni in 2013 at Bayu Beach Resort, Port Dickson. Malaysia. The EAGC 2013 (East Asia Graduate Conference), attended by 350+ graduate and leaders from the region. It is an unique occasion that graduate leaders from more than fifteen member movements gather for five days in order to have fellowship and learning and sharing vision on marketplace ministry. EAGC 2013 with the main speaker Paul Stevens, Koichi Othawa San and other workshop speakers focused on the main theme of “Challenging workplace, Challenging Times.”  The conference addresses the issues that graduates face in daily life, whether at work, at home, in society or in the church. As many East Asian graduates face similar problems, this is an opportunity to meet, share, learn, and encourage each other.

  {% endeditable_text %}

%img.featurette-image.img-responsive.vertical-align-top{src: "{{ 'eagc-past-conferences.png' | theme_image_url }}"}

:markdown
  {% editable_text "more content", rows: 20 %}
  Movements within the East Asia region take turns the host the Conference. GCF Thailand will host the next EAGC 2016.

  {% endeditable_text %}
{% endblock %}

{% block event %}
{% endblock %}

/:markdown
/.&nbsp; | .&nbsp; | .&nbsp;
/--- | --- | ---
/**Year** | **Venue** | **Camp Theme**
/1985 | Indonesia | Sent unto this world
/1988 | Malaysia, Penang | The light shines in the darkness
/1992 | Singapore, Pasir Ris | Presenting every man complete in Christ for the 90s
/1995 | Malaysia, Kuala Lumpur | Making An Impact In Society
/1998 | Thailand, Pattaya | For the living of these days
/2001 | Japan, Osaka | Light @ Work
/2004 | Indonesia, Bali | Transforming lives, workplace and society
/2007 | Korea, Seoul | Root out of dry land - Integrated Spirituality in Fragmented World
/2010 | Hong Kong &amp; Macao, Noah's Ark | Living water, Living well
/2013 | Malaysia, Port Dickson | Challenging Workplace, Challenging Times
/2016 | Thailand | TBD