body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

/**
 * General
 */
.padding-top-100 {
  padding-top: 100px;
}

.padding-bottom-50 {
  padding-bottom: 50px;
}

.vertical-align-top {
  vertical-align: top;
}

.margin-top-0 {
  margin-top: 0;
}

/**
 * Nav bar related hacks
 */
.dropdown > a,
.dropdown-menu > li > a {
  font-size: 140%;
}

/**
 * Carousel related hacks
 */ 
.carousel-background {
    background-attachment: initial;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel-caption-background {
  top: 0;
  left: 0;
  margin-top: 300px;
  min-width: 100%;
  z-index: 5;
  position: absolute;
  height: 200px;
  background-color: black;
  opacity: 0.4;
  filter: alpha(opacity=40)
}

.carousel-caption > h1 {
  font-size: 300%;
}
.carousel-caption > p,
.carousel-caption > a {
  font-size: 160%;
}

/**
 * Featurette related hacks
 */
.featurette-text-top {
    margin: 0;
}

.featurette-text-uppercase {
    text-transform: uppercase;
}

.featurette-text-smaller {
    font-size: 90%;
}


.featurette > .col-md-12 > p,
.featurette > .col-md-12 > ul,
.featurette > .col-md-12 > ol,
.featurette > .col-md-12 > pre,
.featurette > .col-md-12 > blockquote,
.featurette > .col-md-12 > h4,
.featurette > .col-md-12 > table,
.featurette > .col-md-12 > table {
  font-size: 140%;
}

.featurette > .col-md-12 > table > thead > th,
.featurette > .col-md-12 > table > tbody > tr > td {
  padding: 10px;
}

.featurette > .col-md-12 > p,
.featurette > .col-md-12 > h2 {
  padding-top: 10px;
}

.featurette > .col-md-12 > table {
  padding-top: 10px;
  margin-bottom: 10px;
}

/**
 * Google Web Fonts
 */

.font-lobster {
    font-family: 'Lobster', cursive;
}