body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

/**
 * Carousel Background
 */ 
.carousel-background {
    background-attachment: initial;
    background-position: center;
    background-repeat: no-repeat;
}

.featurette-text-top {
    margin: 0;
}

/**
 * Google Web Fonts
 */

.font-lobster {
    font-family: 'Lobster', cursive;
}