---
title: Constitution
position: 4
published: true
---
{% extends parent %}

{% block carousel/header %}
%p Constitution
{% endblock %}

{% block main/header %}
%h2.featurette-heading.padding-bottom-50
  Constitution
  %span.text-muted  
{% endblock %}

{% block main/content %}
:markdown
  {% editable_text "content", rows: 20 %}
  ### Persatuan Siswazah Kristian, Malaysia (Graduates’ Christian Fellowship, Malaysia)

  <br />

  #### Rule 1 

  Name The name of the Fellowship shall be PERSATUAN SISWAZAH KRISTIAN the “ Graduate Christian Fellowship, Malaysia.”

  <br />

  #### Rule 2 

  Address The address of the Fellowship shall be 386, Jalan 5/59, Petaling Gardens, Petaling Jaya, Selangor. The Fellowship place of meeting shall be 386, Jalan 5/59, Petaling Jaya. The address of the Fellowship place of meeting shall not be changed without the prior approval of the Registrar of Societies.

  <br />

  #### Rule 3

  Aims The aim of the Fellowship is to spread the saving knowledge of Jesus Christ throughout the world and in particular:

  a) to stimulate personal evangelism amongst colleagues

  b) to encourage the fullest use of the professional training and abilities of members in the services of Jesus Christ

  c) to support and encourage evangelical student work

  d) to encourage members to play a full part in activities of their respective sections of the church

  e) to help in the production of evangelical literature

  f) to hold discussions and talks relating to the Christian faith whereby members and friends who are interested may attend.

  <br />

  #### Rule 4 

  ##### **Doctrinal** 

  a) The Graduates’ Christian Fellowship maintains and upholds the Basis fundamental truth of the Christian faith including:

      i) The unity of Father, Son and Holy Spirit in the Godhead.
  
      ii) The sovereignty of God in creation, revelation, redemption, and final judgement.
  
      iii) The divine inspiration and entire trustworthiness of Holy Scripture as originally given, and its supreme authority in all matters of faith and conduct.
  
      iv) The universal sinfulness and guilt of all men since the Fall, rendering them subject to God’s wrath and condemnation.
  
      v) Redemption from guilt, penalty, dominion and pollution of sin, solely through the sacrificial death (as our Representative and Substitute) of the Lord Jesus Christ, the Incarnate Son of God.
  
      vi) The bodily resurrection of the Lord Jesus Christ from the dead and Ascension to the right hand of God the Father.
  
      vii) The presence and the power of the Holy Spirit in the work of regeneration.
  
      viii) The justification of the sinner by the grace of God through faith alone.
  
      ix) The one Holy Universal Church which is the body of Christ and to which all true believers belong.
  
      x) The indwelling and work of the Holy Spirit in the believer.
  
      xi) The expectation of the personal return of the Lord Jesus Christ.

  b) No addition of amendment to or deletion from the doctrinal basis shall be made except with the written consent of ¾ of the total membership of the Fellowship.
  
  c) All office-bearers of the committee and all sub-committees of the Graduates’ Christian Fellowship shall sign their full agreement with the doctrinal basis and shall hold office only so long as their views are in accordance with the doctrinal basis.

  <br />

  #### Rule 5 

  ##### **Membership** 
  
  a) Full membership shall be open to graduates of universities, colleges and professional institutions who are Malaysian citizens and who conscientiously sign the following declaration:

  “In becoming a member of this Fellowship I declare my faith in Jesus Christ as my Saviour, my Lord and my God Whose atoning sacrifice is the only and all sufficient ground of my salvation and I will seek both in life and thought to be ruled by the clear teaching of the Bible, believing it to be the inspired Word of God”.

  b) Associate membership shall open to people who are not graduates of universities, colleges and professional institutions, but who are Malaysian citizens or who are not Malaysian citizens but who have contributions to make and are interested to participate in the activities of Fellowship and will subscribe to the declaration of faith as stated in Rule 5(a). Such an associate membership does not carry a right to vote or to hold office in the Executive Committee.

  c) Any person applying for full membership and has paid a sum of RM 300.00 at the time of application shall become a life member if the application is approved. If the application is rejected, the sum will be refunded.

  d) Applications should be made in a prescribed form proposed and seconded by 2 members and shall be submitted to the Executive Committee for approval.

  <br />

  #### Rule 6 

  ##### **Management** 

  a) The Executive Committee shall be elected at the Annual General Meeting and shall comprise the following: President, Vice- President, Hon. Secretary, Hon. Treasurer and three other Committee members. They shall hold office one year there from and shall be responsible for the policy, programme, correspondence, financial and other matters of the Fellowship.

  b) Definitions of duties:-
  
      i) The President shall preside at the General Meetings and at Committee meetings.
  
      ii) The Vice- President shall take the place of the President in his absence.
  
      iii) The Hon. Secretary shall record minutes of all General Meetings and shall be responsible for the general correspondence and administration of the Fellowship.
      
      iv) The Hon. Treasurer shall be responsible for the finance of the Fellowship and shall keep proper account if all financial transactions, and shall be required to present the audited account of the Fellowship at the Annual General Meeting. The Hon. Treasurer is empowered to sign cheques which must be countersigned by the Hon. Secretary. The Hon. Treasurer shall not allowed to keep more than RM150.00 in the form of cash and money in excess of this must be deposited into a bank to be decided by the Executive Committee.
      
      v) Three Committee members shall assist is the working if the Committee.

  c) The Executive Committee may appoint members to assist them in any matter as the need arises.

  d) The Executive Committee shall have the power to fill any vacancies on the Committee.

  e) 4/7 of the membership shall be quorum for the necessary transaction of business by the Executive Committee.

  f) No resolution will be passed at any meeting of the Executive Committee except by majority consisting of 3/4 of members present.

  g) The Executive Committee shall meet at least once in 2 months. The President may call for a meeting of the Executive Committee to be held at any time to discuss urgent matters.

  <br />

  #### Rule 7

  ##### **Finance** 

  a) There will be a subscription of RM20.00 per annum for full and associate members payable yearly as from January. Members are allowed to pay for 1, 2 or 3 years membership duration. Membership lapses if subscription is more than one year in arrears. Life members shall be exempted from annual subscriptions. 

  b) The Fellowship shall also depend on free-will gifts.

  <br />

  #### Rule 8

  ##### **Annual**

  a) The Annual General Meeting shall be held in August each year General to: Meeting 
  
      i) receive the report of the Hon. Secretary on the working of the Fellowship during the previous year. 
  
      ii) receive the treasurer’s report and the audited annual account of the previous year.
  
      iii) elect the new Executive Committee
  
      iv) elect two Hon. Auditors who are not members of the Executive Committee.
  
      v) deal with other matters.

  b) Notice of the Annual General Meeting together with the Agenda shall be given not less than 7 days before the date of the meeting.

  c) 
  
      i) 20 members or ½ of the total membership, whichever is less, shall constitute a quorum.
  
      ii) in the event of the lack of quorum, another meeting shall be held within 2 weeks of the postponement, and if quorum is still not obtained in the postponed meeting, the members present shall have the power to proceed with the business of the day but shall not have power alter the constitution or to make decisions affecting the whole membership. Notice of the postponed meeting shall be given not less than 7 days before the date of the meeting.

  d) Extraordinary General Meetings :
  
      1) The Hon. Secretary shall convene Extraordinary General Meetings on:
  
          i) the request of the Executive Committee
          
          ii) the written application of at least 20 or ¼ of the members of the Fellowship, whichever is less, stating the object of the meeting . Such meetings shall be held within 14 days of the receipt of the application.

      2) 
          i) Notice of the Extraordinary General Meeting shall be given not less than 7 days prior to the date of the meeting.
          
          ii) Only the matter for which an Extraordinary General meeting is called shall be on the Agenda.
          
          iii) The quorum and postponement of the Annual General Meeting shall apply also to the Extraordinary General Meetings.

  <br />

  #### Rule 9

  ##### **Amendments**
  
  a) Subject to Rule 4 (b) no amendments shall be made to the Constitution except by not less than ¾ of the members expressed personally at the Annual General Meeting or by postal votes.

  b) The amended rules shall not come into force without prior sanction from the Registrar of Societies.

  <br />

  #### Rule 10 

  Prohibition The Graduates’s Christian Fellowship shall not indulge in political activities or allow its funds and/or premises to be used for political purposes.

  <br />
  
  #### Rule 11

  ##### **Dissolution**
  
  a) The Fellowship shall not be dissolved except with the consent of 4/5 of its total members.

  b) In the event of the dissolution of the Fellowship, all debts and liabilities legally incurred on behalf of the Fellowship shall be fully discharged and all remaining funds and assets shall be equally divided among members.

  c) Notice of dissolution shall be given within 14 days of the dissolution to the Registrar of Societies.
  {% endeditable_text %}
{% endblock %}

{% block event %}
{% endblock %}
