---
title: Exco &amp; Staff
position: 1
published: true
---
{% extends parent %}

{% block carousel/header %}
%p Exco &amp; Staff
{% endblock %}

{% block main/header %}
%h2.featurette-heading.padding-bottom-50
  Exco
  %span.text-muted &amp; Staff 
{% endblock %}

{% block main/content %}
:markdown
  {% editable_text "content", rows: 20 %}
  **President:** Peter Yee

  **Vice President:** Lee Hwok Lok
  
  **Hon. Secretary:** Benedict Kok 
  
  **Hon. Treasurer:** Christopher (Interim) 
  
  **Exco Members:**

  * Tan Joon Chee
  
  * G Nanda Goban 
  
  * Christopher Lim 
  
  * Evangel Ong 
  
  * Joseph Loh 

  **Advisors:** 
  
  * Living Lee, Ph.D 
  
  * Cheong Seng Gee 

  * Lai Tak Ming 
  
  * James Daniel 

  **Staff Worker:** Jimmy Lee
  {% endeditable_text %}
{% endblock %}

{% block event %}
{% endblock %}
