---
title: History
position: 3
published: true
---
{% extends parent %}

{% block carousel/header %}
%p History
{% endblock %}

{% block main/header %}
%h2.featurette-heading.padding-bottom-50
  History
  %span.text-muted  
{% endblock %}

{% block main/content %}
:markdown
  {% editable_text "content", rows: 20 %}
  The **G**raduates **C**hristian **F**ellowship (GCF) of Malaysia is a non-profit non-exclusive organisation for Christian graduates, professionals and anyone who wishes to play a meaningful role in the marketplace and in society in general. Growing out from the ministry of the Fellowship of Evangelical Students (FES) in Malaysia and Singapore, GCF has evolved from an informal gathering for fellowship and mutual encouragement into a movement of people committed to making a moral impact in the society and make their lives count for Christ . 

  Over the years since its inception in 1969, GCF continues to be a relevant ministry in the society, ministering to thousands of Malaysian Christian professionals and graduates making the transition from campus to the marketplace. Today the ministry of GCF is not just confined to those who came up through the FES ministry. It is open to all Christians who are committed to serve the Malaysian society as a whole. 

  As Christian graduates and professionals in the marketplace, we are called to be "salt and light" (Matthew 5:13-16), called to transform society for Christ by our witness through life and word, in imitation of our Lord Jesus Christ, the Servant Leader. As a fellowship of Christian graduates and professionals, the Graduates Christian Fellowship of Malaysia (GCF) seeks to challenge them to live out their faith in the marketplace, where the daily business and economics of life take place. While recognising the central place of the Church gathered, our concern is to help Christian professionals live out their faith in the marketplace, "where the daily business and economics of life take place." 
  {% endeditable_text %}
{% endblock %}

{% block event %}
{% endblock %}
