---
title: Vision &amp; Mission
position: 2
published: true
---
{% extends parent %}

{% block carousel/header %}
%p Vision &amp; Mission
{% endblock %}

{% block main/header %}
%h2.featurette-heading.padding-bottom-50
  Vision
  %span.text-muted &amp; Mission 
{% endblock %}

{% block main/content %}
:markdown
  {% editable_text "content", rows: 20 %}
  # GCF Malaysia's mission is to mobilise graduates to impact society for the glory of Christ
  {% endeditable_text %}
{% endblock %}

{% block event %}
{% endblock %}
