---
title: Home
published: true
---
!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{charset: "utf-8"}/
    %title {{ site.name }}
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1", name: "viewport"}/

    {{ 'application.css' | stylesheet_tag }}
    {{ 'carousel.css' | stylesheet_tag }}
    {{ 'gcfmalaysia-template.css' | stylesheet_tag }}

    /[if lt IE 9]
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    %link{rel: "shortcut icon", href: "/samples/favicon.png"}/
    %link{rel: "apple-touch-icon-precomposed", sizes: "144x144", href: "/samples/apple-touch-icon-144x144-precomposed.png"}/
    %link{rel: "apple-touch-icon-precomposed", sizes: "114x114", href: "/samples/apple-touch-icon-114x114-precomposed.png"}/
    %link{rel: "apple-touch-icon-precomposed", sizes: "72x72", href: "/samples/apple-touch-icon-72x72-precomposed.png"}/
    %link{rel: "apple-touch-icon-precomposed", href: "/samples/apple-touch-icon-precomposed.png"}/
    %link{rel: "stylesheet", type: "text/css", href: "http://fonts.googleapis.com/css?family=Lobster"}

    {% inline_editor %}

  %body

    {% include "navbar" %}


    /
      Carousel
      \==================================================
    #myCarousel.carousel.slide{"data-ride" => "carousel"}
      %ol.carousel-indicators
        %li.active{"data-target" => "#myCarousel", "data-slide-to" => "0"}
        %li{"data-target" => "#myCarousel", "data-slide-to" => "1"}
        %li{"data-target" => "#myCarousel", "data-slide-to" => "2"}
        %li{"data-target" => "#myCarousel", "data-slide-to" => "3"}
        %li{"data-target" => "#myCarousel", "data-slide-to" => "4"}
        %li{"data-target" => "#myCarousel", "data-slide-to" => "5"}
        %li{"data-target" => "#myCarousel", "data-slide-to" => "6"}
        %li{"data-target" => "#myCarousel", "data-slide-to" => "7"}

      .carousel-inner{role: "listbox"}
        .item.active.carousel-background{style: "background-image: url('{{ 'banner-christmas-web.jpg' | theme_image_url }}')"}
          .container
            / .carousel-caption
            /   %h1.font-lobster East Asia Graduate Conference
            /   %p Mobilise graduates to impact society for the glory of Christ
        .item.carousel-background{style: "background-image: url('{{ 'banner-ibridge-web.jpg' | theme_image_url }}')"}
          .container
            / .carousel-caption
            /   %h1.font-lobster East Asia Graduate Conference
            /   %p Mobilise graduates to impact society for the glory of Christ
        .item.carousel-background{style: "background-image: url('{{ 'banner-nation-web.jpg' | theme_image_url }}')"}
          .container
            / .carousel-caption
            /   %h1.font-lobster East Asia Graduate Conference
            /   %p Mobilise graduates to impact society for the glory of Christ
        .item.carousel-background{style: "background-image: url('{{ 'banner-talks-web.jpg' | theme_image_url }}')"}
          .container
            / .carousel-caption
            /   %h1.font-lobster East Asia Graduate Conference
            /   %p Mobilise graduates to impact society for the glory of Christ
        .item.carousel-background{style: "background-image: url('{{ 'banner-worship-web.jpg' | theme_image_url }}')"}
          .container
            / .carousel-caption
            /   %h1.font-lobster East Asia Graduate Conference
            /   %p Mobilise graduates to impact society for the glory of Christ
        .item.carousel-background{style: "background-image: url('{{ 'banner-outing-web.jpg' | theme_image_url }}')"}
          .container
            / .carousel-caption
            /   %h1.font-lobster East Asia Graduate Conference
            /   %p Mobilise graduates to impact society for the glory of Christ
        .item.carousel-background{style: "background-image: url('{{ 'banner-eagc-web.jpg' | theme_image_url }}')"}
          .container
            / .carousel-caption
            /   %h1.font-lobster East Asia Graduate Conference
            /   %p Mobilise graduates to impact society for the glory of Christ
        .item.carousel-background{style: "background-image: url('{{ 'banner-headstart-web.jpg' | theme_image_url }}')"}
          .container
            / .carousel-caption
            /   %h1.font-lobster East Asia Graduate Conference
            /   %p Mobilise graduates to impact society for the glory of Christ

    / /.carousel


    /
      Featurettes
      \==================================================
    .container
      .row.featurette
        .col-md-9
          %h2.featurette-heading.margin-top-0.featurette-text-uppercase
            mobilise graduates to impact
            %br
            %span.text-muted.featurette-text-smaller society for the glory of Christ
          %p.lead We are a non-profit non-exclusive organization for Christian graduates, professionals and anyone who wishes to play a meaningful role in the marketplace and in society in general.
          %p.lead Growing out from the ministry of the Fellowship of Evangelical Students (FES) in Malaysia and Singapore, Graduate Christian Fellowship (GCF) has evolved from an informal gathering for fellowship and mutual encouragement into a movement of people committed to make a moral impact in the society and make their live count for Christ!
        .col-md-3
          %img.featurette-image.img-responsive.vertical-align-top{src: "{{ 'gcf_logo_white_full.png' | theme_image_url }}"}

      .featurette-divider
    / /.featurette


    /
      Event
      \==================================================
/    #myCarousel2.carousel
/      .carousel-inner{role: "listbox"}
/        .item.active.carousel-background{style: "background-image: url('{{ 'banner-ibridge-2015-web.jpg' | theme_image_url }}')"}
/          .container
/            .carousel-caption
/              %h1.font-lobster {% editable_text "Event Title", hint: "event title", format: raw, rows: 1 %}{% endeditable_text %}
/              %p {% editable_text "Event Description", hint: "event description", format: raw, rows: 1 %}JULY 31 - AUGUST 3, 2015  PORT DICKSON METHODIST CENTER{% endeditable_text %}
/              %a.btn.btn-success{role: "button", href: "https://ibridgecamp2015.wordpress.com"} READ MORE
/              %a.btn.btn-success{role: "button", href: "https://www.facebook.com/events/1448813168745995"} JOIN US 
/              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

/      .carousel-caption-background

/    #myCarousel3.carousel
/      .carousel-inner{role: "listbox"}
/        .item.active.carousel-background{style: "background-color: white;"}
/          .container
/            .carousel-caption
/              %h1.font-lobster{style: "color: #000;"} {% editable_text "Event Title", hint: "event title", format: raw, rows: 1 %}Rest for Renewal & Revision for Renovation{% endeditable_text %}
/              %p {% editable_text "Event Description", hint: "event description", format: raw, rows: 1 %}JULY 31 - AUGUST 3, 2015  PORT DICKSON METHODIST CENTER<br/>RETREAT WITH KOICHI OHTAWA{% endeditable_text %}
/              %a.btn.btn-success{role: "button", href: "https://www.dropbox.com/s/p2stgfarnap6hfi/GCF%20Retreat%20with%20Koichi%20Ohtawa%20%28Brochure%29.pdf?dl=0"} BROCHURE
/              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
/              
/      .carousel-caption-background


    {% include "footer" %}
    

    /
      JS
      \==================================================
    %script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js", type: "text/javascript"}
    {{ 'bootstrap.min.js' | javascript_tag }}
    {{ 'bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js' | javascript_tag }}
    :javascript
      $(document).ready(function() {
      });
    / /.js
