---
title: Graduate Christian Fellowship Malaysia - GCF Malaysia 2015
published: true
---
!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{charset: "utf-8"}/
    %title {{ site.name }}
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1", name: "viewport"}/

    {{ 'application.css' | stylesheet_tag }}
    {{ 'carousel.css' | stylesheet_tag }}
    {{ 'starter-template.css' | stylesheet_tag }}

    /[if lt IE 9]
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    %link{rel: "shortcut icon", href: "/samples/favicon.png"}/
    %link{rel: "apple-touch-icon-precomposed", sizes: "144x144", href: "/samples/apple-touch-icon-144x144-precomposed.png"}/
    %link{rel: "apple-touch-icon-precomposed", sizes: "114x114", href: "/samples/apple-touch-icon-114x114-precomposed.png"}/
    %link{rel: "apple-touch-icon-precomposed", sizes: "72x72", href: "/samples/apple-touch-icon-72x72-precomposed.png"}/
    %link{rel: "apple-touch-icon-precomposed", href: "/samples/apple-touch-icon-precomposed.png"}/
    %link{rel: "stylesheet", type: "text/css", href: "http://fonts.googleapis.com/css?family=Lobster"}

    {% inline_editor %}

  %body

    /
      Bootstrap 3 Navbar
      Addon: https://github.com/CWSpear/bootstrap-hover-dropdown
      \==================================================
    %nav.navbar.navbar-inverse.navbar-fixed-top{role: "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"data-toggle" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button", "data-target" => "#navbar", "aria-expanded" => "false", "aria-controls" => "navbar"}
            %span.sr-only Toggle Navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          / %a.navbar-brand{href: "#"} Graduate Christian Fellowship Malaysia
        #navbar.collapse.navbar-collapse.navbar-ex1-collapse
          %ul.nav.navbar-nav
            %li.active
              %a{href: "#"}
                %span.glyphicon.glyphicon-home{'aria-hidden' => 'true'}
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", "data-hover" => "dropdown", href: "#"}
                iBridge
                / %b.caret
              %ul.dropdown-menu
                %li
                  %a{href: "#"} Who We Are
                %li
                  %a{href: "#"} HeadStart Program
                %li
                  %a{href: "#"} iBridge Camp
                %li
                  %a{href: "#"} Face2Face Fellowship
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", "data-hover" => "dropdown", href: "#"}
                Marketplace
                / %b.caret
              %ul.dropdown-menu
                %li
                  %a{href: "#"} Cat &amp; Dog - Look at the Cross 
                %li
                  %a{href: "#"} Forum &amp; Talks
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", "data-hover" => "dropdown", href: "#"}
                Nation Building
                / %b.caret
              %ul.dropdown-menu
                %li
                  %a{href: "#"} PACA Training
                %li
                  %a{href: "#"} National Education Agenda
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", "data-hover" => "dropdown", href: "#"}
                Regional
                / %b.caret
              %ul.dropdown-menu
                %li
                  %a{href: "#"} East Asia Graduate Conference
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", "data-hover" => "dropdown", href: "#"}
                Resources
                / %b.caret
              %ul.dropdown-menu
                %li
                  %a{href: "#"} Articles
                %li
                  %a{href: "#"} Videos

          %ul.nav.navbar-nav.navbar-right
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", "data-hover" => "dropdown", href: "#"}
                About
                / %b.caret
              %ul.dropdown-menu
                %li
                  %a{href: "#"} Exco &amp; Staff
                %li
                  %a{href: "#"} Vision &amp; Mission
                %li
                  %a{href: "#"} History
                %li
                  %a{href: "#"} Constitution
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", "data-hover" => "dropdown", href: "#"}
                Contact
                / %b.caret
              %ul.dropdown-menu
                %li
                  %a{href: "#"} Email Sign Up
                %li
                  %a{href: "#"} Our Network
                %li
                  %a{href: "#"} Donation &amp; Pledge
                %li
                  %a{href: "#"} Volunteer
        / /.navbar-collapse


    /
      Bootstrap 3 Carousel
      \==================================================
    #myCarousel.carousel.slide{"data-ride" => "carousel"}
      %ol.carousel-indicators
        %li.active{"data-target" => "#myCarousel", "data-slide-to" => "0"}
        %li{"data-target" => "#myCarousel", "data-slide-to" => "1"}
        %li{"data-target" => "#myCarousel", "data-slide-to" => "2"}
        %li{"data-target" => "#myCarousel", "data-slide-to" => "3"}
        %li{"data-target" => "#myCarousel", "data-slide-to" => "4"}
        %li{"data-target" => "#myCarousel", "data-slide-to" => "5"}

      .carousel-inner{role: "listbox"}
        .item.active.carousel-background{style: "background-image: url('{{ 'banner-christmas-web.jpg' | theme_image_url }}')"}
          .container
            / .carousel-caption
            /   %h1.font-lobster East Asia Graduate Conference
            /   %p Mobilise graduates to impact society for the glory of Christ
        .item.carousel-background{style: "background-image: url('{{ 'banner-ibridge-web.jpg' | theme_image_url }}')"}
          .container
            / .carousel-caption
            /   %h1.font-lobster East Asia Graduate Conference
            /   %p Mobilise graduates to impact society for the glory of Christ
        .item.carousel-background{style: "background-image: url('{{ 'banner-nation-web.jpg' | theme_image_url }}')"}
          .container
            / .carousel-caption
            /   %h1.font-lobster East Asia Graduate Conference
            /   %p Mobilise graduates to impact society for the glory of Christ
        .item.carousel-background{style: "background-image: url('{{ 'banner-worship-web.jpg' | theme_image_url }}')"}
          .container
            / .carousel-caption
            /   %h1.font-lobster East Asia Graduate Conference
            /   %p Mobilise graduates to impact society for the glory of Christ
        .item.carousel-background{style: "background-image: url('{{ 'banner-outing-web.jpg' | theme_image_url }}')"}
          .container
            / .carousel-caption
            /   %h1.font-lobster East Asia Graduate Conference
            /   %p Mobilise graduates to impact society for the glory of Christ
        .item.carousel-background{style: "background-image: url('{{ 'banner-eagc-web.jpg' | theme_image_url }}')"}
          .container
            / .carousel-caption
            /   %h1.font-lobster East Asia Graduate Conference
            /   %p Mobilise graduates to impact society for the glory of Christ

    / /.carousel

    /
      Bootstrap 3 Featurettes
      \==================================================
    .container
      .row.featurette
        .col-md-9
          %h2.featurette-heading mobilise graduates to impact <br/><span class="text-muted">society for the glory of Christ</span>
          %p.lead “Call to me and I will answer you and tell you great and unsearchable things you do not know.” -Jeremiah 33:3
        .col-md-3
          %img.featurette-image.img-responsive{src: "{{ 'gcf_logo_white_full.png' | theme_image_url }}"}

      %hr.featurette-divider

    /
      Bootstrap 3 Single-image Carousel
      \==================================================
    #myCarousel2.carousel
      .carousel-inner{role: "listbox"}
        .item.active.carousel-background{style: "background-image: url('{{ 'cny2015-street-simple.jpg' | theme_image_url }}')"}
          .container
            .carousel-caption
              %h1.font-lobster {% editable_text eventtitle, hint: "event title", format: raw, rows: 1 %}iBridge Chinese New Year Gathering{% endeditable_text %}
              %p {% editable_text eventdescription, hint: "event description", format: raw, rows: 1 %}FEBRUARY 28, 2015{% endeditable_text %}
              %a.btn.btn-success{role: "button", href: "https://www.facebook.com/events/556774091092360"} JOIN US
      .carousel-caption-background




    /
      Bootstrap 3 Footer
      \==================================================
    .container
      %hr.featurette-divider
      %footer
        %p.pull-right
          %a{href: "#"} Back to top
        %p 
          &copy; 2015 Graduate Christian Fellowship Malaysia 
          &middot;
          %a{href: "https://www.facebook.com/gcf.malaysia"} Facebook
          &middot;
          %a{href: "mailto:ibridge.email@gmail.com"} Email

    / /.footer



    /
      Bootstrap 3 JS
      \==================================================
    %script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js", type: "text/javascript"}
    {{ 'bootstrap.min.js' | javascript_tag }}
    {{ 'bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js' | javascript_tag }}
    :javascript
      $(document).ready(function() {
      });
    / /.js