---
title: Videos
position: 2
published: true
---
{% extends parent %}

{% block carousel/header %}
%p Videos
{% endblock %}

{% block main/header %}
%h2.featurette-heading.padding-bottom-50
  Videos
  %span.text-muted 
{% endblock %}

{% block main/content %}
:markdown
  {% editable_text "content", rows: 20 %}
  ## Coming Soon
  {% endeditable_text %}
{% endblock %}

{% block event %}
{% endblock %}
