---
title: Videos
position: 2
published: true
---
{% extends parent %}

{% block carousel/header %}
%p Videos
{% endblock %}

{% block main/header %}
%h2.featurette-heading.padding-bottom-50
  Videos
  %span.text-muted 
{% endblock %}

{% block main/content %}
:markdown
  {% editable_text "content", rows: 20 %}
  ### EAGC

  > EAGC 2013 : http://youtu.be/hcqFa34GtMM
  
  > EAGC 2007 : http://youtu.be/LLVoKvMQerw
  
  ### iBridge Camp

  > iBridge Camp 2014 : http://youtu.be/BPy62o_Yqyc
  
  > iBridge Camp 2008 : http://youtu.be/nF86siBOtS8 &amp; http://youtu.be/CAoKbR-pGW8
  
  > iBridge Camp 2006 : http://youtu.be/-3_4XqhT9CM

  {% endeditable_text %}
{% endblock %}

{% block event %}
{% endblock %}
