---
title: HeadStart Programme
position: 2
published: true
---
{% extends parent %}

{% block carousel/header %}
%p HeadStart Programme
{% endblock %}

{% block main/header %}
%h2.featurette-heading
  HeadStart
  %span.text-muted Programme
{% endblock %}

{% block main/content %}
:markdown
  {% editable_text "content", rows: 20 %}
  ## What is Headstart?

  Ever wondered what is God's calling for your life? Do you struggle to give God your best in every area of your life? Come and join the HEADSTART program. This is a small group that meets once a month for a period of 1 year to discuss transition from a student life to the working world. It also enforces community living whose objective is to create lifelong disciples, to help transition from campus to the marketplace, to deal with work pressure, office politics, work culture, relating to parents, adapting back to church life, being salt and light in the marketplace.

  Perhaps the most important part of the HeadStart ministry lies in the friendship that is built amongst the group members which lasts way after the HeadStart is over. Prayer and accountability is an integral part of the group also. The book, Following Jesus in the "Real World" by Richard Lamb will be used as the syllabus &amp; guide.

  ## General structure of a Headstart group

  * One-year programme (but the friendship definitely carries on)
  * Most groups are of 8-12 members that meets once a month, 10-12 times for a year
  * Members are those who have graduated from this year onwards or up to 5 years ago
  * We are not a bible-study/cell group. (Once we have finished the lessons, in the book, the programme ends)
  * This is for Christian graduates. (No fee is required but only a high degree of commitment)
  * Home setting (to experience hospitality)
  * A close community (true pilgrims on a journey)
  * Atmosphere of honesty and trust
  * Meet and pray with and for one another
  * Drop-in visitors are not encouraged
  * Facilitated by 2 experience co-leaders
  * While most of the groups are concentrated in the Klang Valley, we have also started HeadStart in Malacca, Kota Bahru, Penang and Ipoh.
  
  {% endeditable_text %}
{% endblock %}

{% block 'event' %}
{% endblock %}