---
title: iBridge Camp
position: 3
published: true
---
{% extends parent %}

{% block carousel/header %}
%p Camp
{% endblock %}

{% block main/header %}
%h2.featurette-heading
  iBridge
  %span.text-muted Camp
{% endblock %}

{% block main/content %}
:markdown
  {% editable_text "content", rows: 20 %}

  iBridge organize Annual iBridge camps since 2011. This camp is an opportunity for Christian young working adults from diverse backgrounds and denominations to encourage, fellowship, share, and learn from one another. Our 4d3n camp are usually held during long public holiday weekend and has attracted 70 to 120 campers every year.
  
  During these four days, we will have speakers who will share their challenges, experiences, and joy in living their lives; sessions that will make us rethink about our life and how we can improve our current way of living, and of course - making new spiritual friends !
  
  iBridge leader once wrote

  > "But the ONE thing that a camp can do, that nothing else can as effectively, is to TRANSFORM. And iBridge is in the business of transforming mindsets for victorious & impactful living in the marketplace. We want people to leave the camp with a new way of looking at things. When people come away from their workplace to a safe haven (which we must try to provide), they have a golden opportunity to take a step back, see the big picture of their lives, redefine their goals and chart new directions. All in an atmosphere of prayer and submission to God's purposes."

  Some of the topics from previous iBridge camps:
  
  * One Career, 101 Lessons 
  * Talent migration 
  * Sabbath 
  * Practical discernment (Choosing job, ministries, finding life partner, response to certain opinions etc) 
  * Biblical perspective on financial management (On saving, generous giving for mission, retirement, etc)

  ## Location
  
  The campsite usually at a place to unwind, relax and enjoy the beauty and sounds of nature. There are times where one just has to get away from the hustle and bustle of the city. What better place than the venue chosen will be either near the sea, mountain or jungle which is nestled among the beauty of nature with lush greeneries and a flowing stream. The serenity of the campsite will immediately envelope you with a sense of relaxation and peace. Just the right place to recharge.

  {% endeditable_text %}

%a{href: "https://ibridgecamp2015.wordpress.com"}
  %img.featurette-image.img-responsive.vertical-align-top{src: "{{ 'banner-ibridge-2015-jump-poster.png' | theme_image_url }}"}

{% endblock %}

{% block 'event/carousel' %}
.item.active.carousel-background{style: "background-image: url('{{ 'banner-outing-web.jpg' | theme_image_url }}')"}
  .container
    .carousel-caption
      %h1.font-lobster {% editable_text "Event Title", hint: "event title", format: raw, rows: 1 %}iBridge Camp 2015{% endeditable_text %}
      %p {% editable_text "Event Description", hint: "event description", format: raw, rows: 1 %}JULY 31 - AUGUST 3, 2015  PORT DICKSON METHODIST CENTER{% endeditable_text %}
      %a.btn.btn-success{role: "button", href: "https://ibridgecamp2015.wordpress.com"} READ MORE
      %a.btn.btn-success{role: "button", href: "https://www.facebook.com/events/1448813168745995"} JOIN US
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{% endblock %}


/ In addition, the annual 'iBridge Camp' which attracts 80-100 graduates yearly has specific workshops tailored just for graduates in these 2 categories:

/ * Graduates with 5 years and above working experience
  
/   "IMPACTING THE MARKET PLACE" 

/ * Fresh graduates with below 5 years working experience
  
/   "TRANSITION TO THE MARKET PLACE" 

/ <br />

/ **Date:** 29th August – 1st September (Friday-Monday)

/ **Venue:** Outbac Broga, Semenyih

/ **Fee:** RM200