---
title: Who We Are
position: 1
published: true
---
{% extends parent %}

{% block carousel/header %}
%p Who We Are
{% endblock %}

{% block main/header %}
%h2.featurette-heading.padding-bottom-50
  iBridge
  %span.text-muted Connecting Lives in Transition
{% endblock %}

{% block main/content %}
:markdown
  {% editable_text "content", rows: 20 %}
  ## Just graduated?

  Looking for a group of Christian friends to grow together in your walk with God?

  Come and join us at iBridge, a growing community of Christians, comprising of young professionals and graduates in Malaysia. We are here to help you in your transition from campus life to the working world.

  iBridge is ministry by Graduates Christian Fellowship of Malaysia (GCF). A growing community of Christians who are fresh graduates and young professionals below the age of 35. It is mainly made up of young Malaysia Christian graduates who aims to Follow Jesus in every aspect of their life.

  If you are a young Christian graduate struggling to:

  * transition from campus to the marketplace,
  * follow God in the "real world",
  * find meaning in your work,
  * keep your faith alive...

  then the iBridge community is here to help you find spiritual friends who are also fellow pilgrims on this journey. 

  There are 4 areas in iBridge that you may join us in:-

  * [Headstart programme](/ibridge/headstart-programme)
  * [Face2Face](/ibridge/face2face-fellowship)
  * [iBridge Camp](/ibridge/ibridge-camp)
  * [iBridge FB Group](https://www.facebook.com/groups/18658303936)

  {% endeditable_text %}
{% endblock %}

{% block 'event/carousel' %}
.item.active.carousel-background{style: "background-image: url('{{ 'banner-christmas-web.jpg' | theme_image_url }}')"}
  .container
    .carousel-caption
      %h1.font-lobster {% editable_text "Event Title", hint: "event title", format: raw, rows: 1 %}iBridge Facebook Group{% endeditable_text %}
      %p {% editable_text "Event Description", hint: "event description", format: raw, rows: 1 %}Connecting Lives in Transition{% endeditable_text %}
      %a.btn.btn-success{role: "button", href: "https://www.facebook.com/groups/18658303936"} JOIN US
{% endblock %}
